# Gemini API Key
GEMINI_API_KEY=AIzaSyC78njT2Q-vcIb3FTerWF4fmOivNmWAabc

# MyMemory API Key
MYMEMORY_API_KEY=0ea48e98b9msh0f2fdbd5b1baaefp15de2ajsn003892add3b0

# MyMemory Email (replace with your email)
MYMEMORY_EMAIL=your-email@example.com
